streamlit
langchain_core
langchain_community
dotenv
langchain_groq
langchain_ollama
faiss-cpu
Chromadb
langchain_huggingface
langchain_chroma
sentence_transformers
pypdf
ipykernel
bs4
mysql-connector-python
SQLAlchemy
arxiv 
wikipedia
validators==0.28.1
youtube_transcript_api
ddgs
duckduckgo-search
playwright
lxml
unstructured